.App {
  text-align: center;
  /* The image used */
  background-image: url(./imgs/background.png);
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* align-items: center;
  justify-content: center; */
  /* color: white; */
  width: 400px;
  max-width: 400px;
  /* background: white; */
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.header{
  margin: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menuBtn{
  border: none;
  /* width: 50px;
  height: 48px; */
  background: none;
}

.menuImg{
  width: 45px;
  height: 42px;
}

.balance{
  background-image: url(./imgs/balance.png);
  width: 152px;
  height: 26px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bet{
  background-image: url(./imgs/bet.png);
  width: 152px;
  height: 26px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}